* {
    box-sizing: border-box;
}
//////////////////// variables ////////////////////////
 $darkBlue: #0a405a;
 $orange: #d05227;
 $yellow: #dfa926;
 $beige: #e0bebe;
 $offWhite: #ebe7de;



/////////// header styling /////////////////
.header {
    border: 1px solid red;
    text-align: center;
}
//////////////// the game view place styling /////////////////////////
#game_board {
    border: 1px solid red;
    height: 50vh;
    display: flex;
    justify-content: center;

        /////////////// player choice section ////////////////////////
        #player-choice {
            border: 1px solid red;
            width: 5rem;
            margin: 2rem;
            padding:1rem;
        }
        /////////// the winner section styling /////////////////////////
        #the-winner-section {
            border: 1px solid red;
            width: 5rem;
            margin: 2rem;
            padding:1rem;

        }
        //////////////// computer choice section styling ////////////////////
        #computer-choice {
            border: 1px solid red;
            width: 5rem;
            margin: 2rem;
            padding:1rem;

        }

}

// ///////////////// styling the players section ///////////////////////////
#players {
    border: 1px solid red;
    height: 40vh;
    display: flex;
    justify-content: space-around;

    //////////////////////////// player styling //////////////////////////////////////
        #player-one {
            border: 1px solid red;
            display: flex;
            align-items: center;
            //////////////////// player buttons styling /////////////
            .player-buttons {
                margin: .2rem;
                color: $offWhite;
                font-weight: bold;
                font-size: 1.2rem;
                background: $orange;
                width: 7rem;
                height: 3rem;
                border-radius: 10px;
            }
        }
    //////////////////////// computer styling //////////////////////////////////////////
        #computer {
            border: 1px solid red;
            display: flex;
            align-items: center;
            ////////////// computer buttons styling ///////////////
            .computer-button {
                margin: .2rem;
                color: $offWhite;
                font-weight: bold;
                font-size: 1.2rem;
                background: $orange;
                width: 7rem;
                height: 3rem;
                border-radius: 10px;
            }
        }
}